@import "burger.css";
@import "switcher.css";

* {
  box-sizing: border-box;
}
html{
  background: rgb(31,90,101);
  background: linear-gradient(15deg, rgba(31,90,101,1) 0%, rgba(124,218,204,1) 80%);
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #32337d;
}

body{
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 60px;
  background-image: url(../img/rs_school.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container{
  width: 70%;
  height: 800px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5% 0 0 0;
}

.header-container{
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navigation {
  width: 60px;
  height: 60px;
}

.main-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card , .card-translate, .card-no-translate{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px ;
  min-height: 300px;
  margin-bottom: 15px;
  margin-right: 10px;
  height: 100px;
  background-color: white;
  position: relative;
  font-size: 28px;
  box-shadow: 0px 0px 10px 4px rgba(70, 80, 34, 0.4);
  backface-visibility: hidden;
  transition: 1s;
  perspective: 1000px;
}

.card-translate{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotateY(180deg);
}

.card-no-translate{
  position: absolute;
  top: 0px;
  left: 0px;
}

.reverse-card-to-translate{
  transform: rotateY(180deg);
}

.reverse-card-to-no-translate{
  transform: rotateY(360deg);
}
/*
.card:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.8);
}*/

img {
  width: 200px;
  height: 150px;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 100px);
  border-radius: 100%;
  border: 10px solid white;
}

.card-status-color{
  width: 100%;
  height: 40%;
  background: rgb(41,42,124);
  background: linear-gradient(45deg, rgba(41,42,124,1) 0%, rgba(199,200,143,1) 52%);
}

.card-status-color-play{
  background: rgb(41,42,124);
  background: linear-gradient(27deg, rgba(41,42,124,1) 0%, rgba(218,124,130,1) 88%); 
}

.translate-btn{
  position: absolute;
  width: 50px;
  height: 40px;
  background-image: url(../img/rotate.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 15px;
  right: 15px;
}

.hidden-item{
  visibility: hidden;
}

.table-of-score {
  display:flex;
  max-width: 75%;
  height: 50%;
  justify-content: flex-start;
  align-items: center;
}

.score-point{
  width: 40px;
  height: 40px;
  background-image: url(../img/star-correct.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.score-point-uncorrect{
  width: 40px;
  height: 40px;
  background-image: url(../img/star-uncorrect.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.corect-item {
  opacity: 0.4;
}

.victory-image {
  width: 800px;
  height: 800px;
  background-image: url(../img/ura.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lose-image{
  width: 800px;
  height: 800px;
  background-image: url(../img/failure.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.repeat-button{
  cursor: pointer;
  width: 300px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  letter-spacing: 1px;
  color: bisque;
  border-radius: 10px;
  background: rgb(41,42,124);
  background: linear-gradient(27deg, rgba(41,42,124,1) 0%, rgba(218,124,130,1) 88%); 
}

.repeat-button:hover {
  -webkit-box-shadow: 0px 0px 59px 6px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 0px 59px 6px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 0px 59px 6px rgba(34, 60, 80, 0.29);
}
